<%= form.label field, label %>

<div class="flex flex-row">
  <label class="radio-inline">
    <%= form.radio_button field, true %>
    Yes
  </label>

  <label class="radio-inline">
    <%= form.radio_button field, false %>
    No
  </label>
</div>
