<%= form_with(model: @insurance, url: quote_homeowner_insurances_path, data: { turbo: false }) do |form| %>
  <%= render 'quote_fields', form: form %>

  <div class="actions">
    <%= form.submit 'Get a quote' %>
  </div>
<% end %>
