<h2>Thank you for submitting!</h2>

<p>
  Here is the information you have submitted for <%= @insurance.name %>
  for a property on <%= @insurance.property_address %>, <%= @insurance.property_city %>.
</p>

<%= render 'quote_calculation' %>

